.card {
    width: 17vw;
    min-width: 150px;
    height: 380px;
    border-radius: 35px;
    font-size: 30px;

    background-color: var(--mostarda);

    img:first-child {
        width: 100%;
        max-height: 50%;

        min-width: 150px;
    }

    img{
        width: 60px;
        margin-top: -50px;
    }

    ul{
        width: 50%;
    }
    button{

    }
}

