.content-card {
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
    position: relative;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.content-card::-webkit-scrollbar {
    background-color: var(--vinho);
    
    
}

.content-card::-webkit-scrollbar-thumb {
    background: rgb(194, 185, 185);
    border-radius: 15px;
   
}

.card {
    width: 16vw;
    min-height: 511px;
    min-width: 307px;
    padding-bottom: 12px;
    border-radius: 45px;
    font-size: 30px;
    position: relative;
    box-sizing: border-box;
    scroll-snap-align: center;
    background-color: var(--mostarda);

    .name {
        color: white;
        font-size: 35px;
        margin-bottom: 15px;
        span {
            color: var(--vinho);
        }
    }

    img:first-child {
        width: 100%;
        max-height: 60%;
        margin-top: -1px;
        min-width: 150px;
        border-radius: 45px;
    }

    img {
        width: 60px;
        margin-top: -50px;
    }

    ul {
        font-size: 35px;
        text-align: start;
        width: 40%;
        margin-left: 16%;
    }
    button {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        width: 60%;

        font-size: 35px;
        margin-top: 25px;
        height: 65px;

        background-color: var(--vinho);
        color: white;

        border: none;
        border-radius: 50px;
        transition: transform 0.3s, background 0.2s;
        cursor: pointer;
        &:hover {
            transform: scale(1.3);
        }
        &:active {
            background-color: #99c698;
        }
    }
}

@media screen and (max-width: 700px) {
    .cardapio {
        height: 500px;
    }
    .content-card {
        margin-top: -150px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .card {
        scroll-snap-align: center;
        transform: scale(0.7);
        height: 500px;
        ul {
            font-size: 30px;
        }
    }
}
