:root {
    --mostarda: #E69232;
    --preto-cinza: #231F20;
    --vinho: #A31E23;
    --creme: #D0C4AD;
  }

  html{
      background-image: url("../assets/images/background.png");
      background-position: center;
      background-size: cover;
  }