header{
    height:50vh;
    width: 100%;
    background-color: var(--mostarda);
 

    div{
        background-color:var(--preto-cinza);
        height: 50px;
        width: 100%;
        box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.3);
    }
    
    img{
      
        max-width: 25%;
        min-width: 150px;
        margin-top: 20px;
    }
}

