.content-payment {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.597);

    .payment-card {
        display: flex;
        align-items: center;
        

        justify-content: center;

        .request {
            border-radius: 2rem;
            position: relative;
            background-color: var(--vinho);
            padding: 20px;
            min-width: 300px;

            flex: 0.4;

            img:nth-child(1n) {
                border-radius: 2rem;
                width: 100%;
                max-height: 350px;
                object-fit: contain;
            }

            p + p {
                color: white;
                font-size: 1.3rem;
                margin: 5px;
                width: 70%;
                height: 30%;
                text-align: justify;
                background-color: var(--mostarda);
                border: none;
                padding: 10px 0 10px 10px;
                border-radius: 15px;
                padding: 1rem;
            }

            p:nth-child(2n) {
                color: white;
                margin: 5px;
               
                display: flex;
                align-items: center;
                justify-content: space-around;

                border-radius:15px;
                width: 50%;

                padding: 10px 5px 10px 10px;
                margin-bottom: 1.2rem;
                background-color: var(--preto-cinza);
                position: relative;

                input {
                    border: none;
                    border-radius: 15px;
                    color: white;
                    height: 60px;
                    width: 50px;
                    font-size:2rem;
                    color: white;
                    padding: 5px;
                    background-color: var(--mostarda);
                }
            }
        }

        form {
            position: relative;
            background-color: var(--mostarda);
            max-width: 450px;
            gap: 1rem;
            padding: 3rem;
            border-radius: 25px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            img {
                width: 9rem;
                position: absolute;
                top: -3.5rem;
                filter: brightness(1.2);
            }
            input {
                z-index: 1;
                width: 100%;
                height: 3rem;
                font-size: 1.4rem;
                padding: 25px;
                background-color: #c4c4c4;
                border: none;
                border-radius: 10px;
                outline: 0;
                transition: border 0.3s;
                &:focus{
                    border: 2px solid var(--preto-cinza);
                }
            }
            div {
                width: 100%;

                label {
                    color: var(--vinho);
                    font-size: 1.5rem;
                    margin: 15px;
                }
            }
            select {
                height: 2rem;
                font-size: 20px;
                border: none;
                border-radius: 3px;

                width: 4.5rem;

                option {
                    font-size: 25px;
                }
            }

            button {
                border-radius: 10px;
                background-color: #99c698;
                border: none;
                font-size: 1.3rem;
                height: 3rem;
                width: 80%;

                transition: transform 0.3s, background 0.2s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.3);
                }
                &:active {
                    color: #99c698;
                    background-color: white;
                    border: 8px solid #99c698;
                }
            }
            .add-cart {
                background-color: var(--creme);
            }
            .button-cancel {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                color: white;
                background-color: var(--vinho);
                border: none;
                font-size: 1.5rem;
                height: 4rem;
                width: 80%;

                transition: transform 0.3s, background 0.2s;
                cursor: pointer;
                margin-bottom: 15px;
                &:hover {
                    transform: scale(1.3);
                    box-shadow: 1px 1px 5px 2px rgba($color: #000000, $alpha: 0.3);
                }
                &:active {
                    color: var(--vinho);
                    background-color: white;
                    border: 8px solid var(--vinho);
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .content-payment {
        position: fixed;
        overflow-y: auto;
   
     
        .payment-card {
            display: flex;
            height:100vh;
            flex-wrap:wrap;
            gap: 2rem;
            
      

            .request {

                p {
                    width: 100%;
                    padding: 15px;
                    font-size: 1rem;
                }

                input {
                    font-size: 45px;
                    height: 10vh;
                }
                img {
                    margin-bottom: 10px;
                }
            }

            form {
                padding: 1.4rem;
                max-height: 700px;
                margin-bottom: 3rem;
                img {
                    width: 8rem;
                }

                input {
                    margin-top: 50px;
                }

                div:nth-child(1n) {
                    label {
                        font-size: 8vw;
                    }

                    select {
                        font-size: 5vw;
                        width: 17vw;
                        height: 10vw;
                    }
                }

                button {
                    height: 5rem;
                    padding: 1rem;
                    font-size: 2rem;
                }

                .button-cancel {
                    height: 5rem;
                    padding: 1rem;
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .content-payment {
     
        .payment-card {
           
         
            .request {
        
                max-width:200px;

                flex-direction: column;

                p:nth-child(2n) {
                    
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 50%;
                }
            }

            form {
               
                img {
                }
                button{
                    font-size:1.3rem;
                }
                input {
                    margin-top: 2rem;
                }

                div:nth-child(1n) {
                    label {
                        font-size: 2rem;
                    }

                    select {
                        font-size: 4vw;
                        width: 15vw;
                        height: 10vw;
                    }
                }
            }
        }
    }
}
