.content-payment {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.597);

    .payment-card {
        display: flex;

        align-items: center;
        width: 95%;
        justify-content: center;
        
        .request {
            border-radius: 2rem;
            position: relative;
            background-color: var(--vinho);
            padding: 20px;

            flex: 0.4;
      

            img:nth-child(1n) {
                border-radius: 2rem;
                width: 100%;
                max-height: 350px;
                object-fit: contain;
            }

            p {
                color: white;
                font-size: 1.3rem;
                margin: 5px;
                width: 60%;
                height: 30%;
                text-align: justify;
                background-color: var(--mostarda);
                border: none;
                padding: 10px 0 10px 10px;
                border-radius: 15px;
            }

            p:nth-child(2n) {
                display: flex;
                align-items: center;
                justify-content: space-around;

                border-radius: 15px;
                width: 40%;

                padding: 10px 5px 10px 10px;
                margin-bottom: 15px;
                background-color: var(--preto-cinza);
                position: relative;

                input {
                    border: none;
                    padding: 2px;
                    border-radius: 15px;
                    color: white;
                    height: 60px;
                    width: 50px;
                    font-size: 30px;
                    color: white;
                    padding: 5px;
                    background-color: var(--mostarda);
                }
            }
        }

        form {
            position: relative;
            background-color: var(--mostarda);
            width: 23vw;
            border-radius: 25px;
            height: 36vw;

            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;

            img {
                width: 9vw;
                position: absolute;
                top: -32px;
                filter: brightness(1.2);
            }
            input {
                width: 80%;
                height: 3vw;
                font-size: 30px;
                padding: 25px;
                background-color: #c4c4c4;
                border: none;
                border-radius: 10px;
            }
            div {
                margin-top: 5rem;
                label {
                    color: var(--vinho);
                    font-size: 2vw;
                    margin: 15px;
                }
            }
            select {
                height: 3vw;
                font-size: 20px;
                border: none;
                border-radius: 3px;

                width: 6vw;
                
                option {
                    font-size: 25px;
                }
            }

            button {
                border-radius: 10px;
                background-color: #99c698;
                border: none;
                font-size: 2vw;
                height: 4vw;
                width: 80%;
                margin-top: 60px;

                transition: transform 0.3s, background 0.2s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.3);
                }
                &:active {
                    color: #99c698;
                    background-color: white;
                    border: 8px solid #99c698;
                }
            }
            .add-cart {
                background-color: var(--creme);
            }
            .button-cancel {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                color: white;
                background-color: var(--vinho);
                border: none;
                font-size: 2vw;
                height: 4vw;
                width: 80%;

                transition: transform 0.3s, background 0.2s;
                cursor: pointer;
                margin-bottom: 15px;
                &:hover {
                    transform: scale(1.3);
                    box-shadow: 1px 1px 5px 2px rgba($color: #000000, $alpha: 0.3);
                }
                &:active {
                    color: var(--vinho);
                    background-color: white;
                    border: 8px solid var(--vinho);
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .content-payment {
        position: fixed;
        overflow-y: auto;

        .payment-card {
            display: flex;
            gap: 10px;
            height: 200vh;
            width: 100vw;
            flex-direction: column;

            justify-content: flex-end;

            .request {
                width: 100%;

                
                p {
                    width: 100%;
                    padding: 15px;
                    font-size: 1rem;
                }

                input {
                    font-size: 45px;
                    height: 10vh;
                }
                img {
                    margin-bottom: 10px;
                }
            }

            form {
                width: 100%;
                height: 35%;

                img {
                    width: 40vw;
                }

                input {
                    margin-top: 200px;
                }

                div:nth-child(1n) {
                    label {
                        font-size: 8vw;
                    }

                    select {
                        font-size: 5vw;
                        width: 17vw;
                        height: 10vw;
                    }
                }

                button {
                    height: 50px;
                    font-size: 5vw;
                }

                .button-cancel {
                    height: 15vw;
                    font-size: 8vw;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .content-payment {
        .payment-card {
            .request {
                display: flex;

                flex-direction: column;

                p:nth-child(2n) {
                    margin: auto;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 90%;
                }
            }

            form {
                img {
                }

                input {
                    margin-top: 30vw;
                }

                div:nth-child(1n) {
                    label {
                        font-size: 8vw;
                    }

                    select {
                        font-size: 4vw;
                        width: 15vw;
                        height: 10vw;
                    }
                }

                button {
                    margin-top: 48px;
                    height: 30vw;
                    font-size: 8vw;
                }

                .button-cancel {
                    height: 30vw;
                    font-size: 8vw;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
