@keyframes cooking {
    0% {
        box-shadow: 1px 1px 5px 5px rgba($color: #b81313ce, $alpha: 0.3);
    }
    100% {
        box-shadow: 1px 1px 15px 10px rgba($color: #b81313ce, $alpha: 0.6);
    }
}
@keyframes ready {
    0% {
        box-shadow: 1px 1px 5px 5px rgba($color: #65e654ce, $alpha: 0.3);
    }
    100% {
        box-shadow: 1px 1px 30px 20px rgba($color: #65e654ce, $alpha: 0.6);
    }
}

.content-pedidos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cooking {
    > div {
        animation: cooking 1.5s infinite forwards alternate;
    }
}
.ready {
    > div {
        animation: ready 1.5s 1 forwards alternate;
    }
}

.list-request {
    padding: 50px;

    .CardRequest {
        display: grid;
        grid-template-areas: "card";

        grid-template-columns: 1fr;
        grid-gap: 50px;

        div {
            grid-area: card;
            display: flex;
            flex-direction: column;
            position: relative;

            width: 20vw;
            max-height: 600px;
            min-width: 180px;

            background-color: var(--mostarda);
            border-radius: 4vw;
            #image-product {
                border-radius: 3vw;
                
                max-height: 250px;
                
                width: 100%;
                margin-bottom: 40px;
            }
            h1 {
                font-size: 60px;
                font-weight: 300;
            }
         
            p {
                color: var(--vinho);
                font-size: 35px;
            }

            p:nth-child(2n) {
                color: var(--preto-cinza);
            }
            .content-buttons {
                margin: auto;
                margin-bottom: 15px;
                margin-top: 50px;
                width: 80%;
                display: flex;
                justify-content: center;
                gap: 15px;
             

                flex-direction: row;
                button {
                    background-color: rgb(196, 189, 189);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    font-size:40px;
                    color: white;
                    border: none;
                    cursor: pointer;
                    background-color: var(--vinho);
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.3);
                    }

                    img {
                        padding: 5px;
                        width: 100%;
                        filter: invert(1);
                    }

                    &:nth-child(2) {
                        background-color: #7ece7c;
                        transition: transform 0.3s;
                    }
                    &:nth-child(3) {
                        background-color: var(--preto-cinza);
                        transition: transform 0.3s;
                    }
                }
            }
        }
        span {
            text-align: start;
            margin-top: 50px;
            grid-area: status;
            font-size: 5vw;

            p {
                color: var(--vinho);
            }
        }
    }
}

@media screen and (max-width: 700px) {
    > h1 {
        font-size: 50px;
    }

    .list-request {
        .CardRequest {
            div {
                border-radius: 25px;
                height: 320px;
                p {
                    font-size: 18px;
                }
            }

            .content-buttons {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    > h1 {
        font-size: 50px;
    }

    .list-request {
        .CardRequest {
            div {
                width: 22vw;
            }
        }
    }
}
@media screen and (max-width: 1155px) {
    > h1 {
        font-size: 50px;
    }

    .list-request {
        .CardRequest {
            div {
                width: 35vw;


            }
        }
    }
}
