@keyframes cooking {
    
    100% {
       transform: rotate(360deg);
    }
}
@keyframes ready {
    0% {
        border: 4px solid #65e654ce;
    }
    100% {
        border: 4px solid #65e654ce;
        box-shadow: 1px 1px 5px 3px rgba($color: #65e654ce, $alpha: 0.3);
    }
}

.message-not-requests {
    height: 50vh;
    display: flex;
    width: 80%;
    margin: auto;
   
    align-items: center;
    h1 {
        margin: auto;
        width: 70%;
        background-color: var(--vinho);
        padding: 2rem;
        color: white;
        font-family: intro-head;
        border-radius: 86% 14% 30% 70% / 33% 33% 67% 67%;
    }
}

.content-pedidos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

 
}
.cooking {
    .CardRequest::before{
        content:"";
        width: 200vw;
        height: 100%;
        position: absolute;
        background: conic-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), var(--vinho));
        transition: 1s ease;
        animation: cooking 1.5s ease infinite;
      
    }
}
.ready {
  
   
    > div {
        animation: ready 1.5s 1 forwards alternate;

    }
}




.list-request {
    display: flex;
    align-items: center;
   
    justify-content: center;
    padding: 50px;
    width: 40%;
  
    

    .CardRequest {
      
        border-radius: 5rem;
        background-color: var(--creme);
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 0.1rem;
     
        overflow: hidden;
      
     
        h3 {
            font-size: 50px;
            background-color: var(--preto-cinza);
            color: white;
            width: 100px;
            margin-left:1.5rem;
            border-radius: 50px;
        }
        #description-item {
            padding:2rem;
            z-index: 1;
      
            display: flex;
            width:98%;
            flex-direction: column;
            gap: 10px;
            min-width: 250px;
            background-color: var(--mostarda);
            border-radius: 4vw;

            h1 {
                font-size: 50px;
                font-weight: 300;
            }

            p {
                color: var(--vinho);
                font-size: 20px;
                border-radius: 10px;
                padding: 5px;
                background-color: var(--creme);
                width: 80%;
                text-align: start;
                margin: auto;
            }

            p:nth-child(2n) {
                color: var(--preto-cinza);
            }

        .subtitle {
            background-color: var(--preto-cinza);
            width: 9rem;
            font-size: 25px;
            margin-left: 15px;
            padding: 4px;
            border-radius: 15px;
            color: white;
        }
       
            .content-buttons {
                margin: auto;
                margin-bottom: 15px;
                margin-top: 50px;
                width: 80%;
                display: flex;
                justify-content: center;
                gap: 15px;

                flex-direction: row;
                button {
                    background-color: rgb(196, 189, 189);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    font-size: 40px;
                    color: white;
                    border: none;
                    cursor: pointer;
                    background-color: var(--vinho);
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.3);
                    }

                    img {
                        padding: 5px;
                        width: 100%;
                        filter: invert(1);
                    }

                    &:nth-child(2) {
                        background-color: #7ece7c;
                        transition: transform 0.3s;
                    }
                    &:nth-child(3) {
                        background-color: var(--preto-cinza);
                        transition: transform 0.3s;
                    }
                }
            }
        }
        span {
            text-align: start;
            margin-top: 50px;
            grid-area: status;
            font-size: 5vw;

            p {
                color: var(--vinho);
            }
        }

        .makePDFButton {
            height: 45px;
            padding: 5px;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            top: 2.3rem;
            right: 2.3rem;
            z-index: 1;
            position: absolute;
            transition: transform 0.3s;
            background-color: var(--vinho);
            filter: saturate(1.5);

            img {
                height: 35px;
                width: 30px;

                filter: invert(1);
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .list-request {
        width: 100%;

        .CardRequest {
            h3{
                margin-left:-0.1rem;
            }
            border-radius: 1.5rem;
            #description-item {

               
                border-radius: 20px;

                p {
                    font-size: 18px;
                }

                #image-product {
                    border-radius: 40px;
                }

                > h1 {
                    font-size: 40px;
                }
            }

            .content-buttons {
                justify-content: center;
            }
        }
       
    }

   
}

@media screen and (max-width: 1500px) {
    > h1 {
        font-size: 50px;
    }

    .list-request {
        .CardRequest {
            div {
                width: 22vw;
            }
        }
    }
}
@media screen and (max-width: 1155px) {
    > h1 {
        font-size: 50px;
    }

    .list-request {
        .CardRequest {
            div {
                width: 35vw;
            }
        }
    }
}
