.content-cozinha {
    header {
        height: 32vh;
        div {
            display: none;
        }
        background-color: var(--preto-cinza);

        img {
            width: 15rem;
        }
    }
    .logout {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--vinho);
    
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.2);
        }
    }
}

@media (max-width: 700px) {
    .content-cozinha{
        .logout {
            font-size: 1rem;
        }
    }
    
}
